<div class="iLightboxContent">
	<div class="formRow">
		<h2>
			<f:translate key="review.mail.title" />
		</h2>
	</div>
	<div class="formRow">
		<f:translate key="review.comment.label" />
	</div>
	<div class="formRow">
		<f:form.textarea rows="5" cols="20" name="comment" />
	</div>
	<div class="formRow">
		<div class="submitContainer">
			<f:form.submit value="{f:translate(key: 'review.save')}" />
			<span class="t3-icon contentstage-action contentstage-action-accept" title="{f:translate(key: 'review.save')}">&nbsp;</span>
		</div>
	</div>
</div>
