.typo3-message .message-header {
	display: none;
}

.push,
.depth,
.sliderWrap,
.rootlineContainer,
.typo3-dyntabmenu-divs,
form.reviewForm,
form.reviewedForm {
	margin-bottom: 20px;
}

.tx_contentstage h1 {
	line-height: 26px;
	text-align: left;
	font-size: 24px;
}

.tx_contentstage h2 {
	line-height: 18px;
}

.tx_contentstage hr {
	border-top: none;
}

.push,
.depth {
	float: left;
	margin-right: 20px;
}

.formContainer,
.clearer {
	clear: both;
}

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../Images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { cursor: pointer; }

.treeview li { background: url(../Images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../Images/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../Images/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../Images/treeview-red.gif); } 

.treeview-black li { background-image: url(../Images/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../Images/treeview-black.gif); }  

.treeview-gray li { background-image: url(../Images/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../Images/treeview-gray.gif); } 

.treeview-famfamfam li { background-image: url(../Images/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../Images/treeview-famfamfam.gif); } 

.treeview .placeholder {
	background: url(../Images/ajax-loader.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../Images/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../Images/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../Images/file.gif) 0 0 no-repeat; }


.treeContainer {
	margin-bottom: 20px;
	float: left;
	width: 500px;
	
	clear: both;
}

.differencesContainer {
	margin-bottom: 20px;
	float: left;
	width: 500px;
	min-height: 20px;
}

.clear {
	clear: both;
}

strong.subHasChanges,
a.pageNode .contentstage-action-changessub {
	display: none;
}

a.subHasChanges strong.subHasChanges {
	display: inline;
}

a.pageNode.subHasChanges .contentstage-action-changessub {
	display: inline-block;
}

.differencesContainer span.title .subHasChanges,
.differencesContainer span.title strong.changes {
	display: none;
}

.differencesContainer ul.differences {
	padding: 0;
	list-style: none;
}

.differencesContainer li.page {
	margin-bottom: 5px;
}

.differencesContainer span.pageTitle {
	font-weight: bold;
}

.differencesContainer li.field span.changes {
	display: block;
	padding-left: 10px;
}

.viewDifferences {
	height: 90%;
}

.viewDifferences iframe {
	width: 49% !important;
	height: 100% !important;
	border: 0;
}

.viewDifferences div.header {
	height: 30px;
	clear: both;
}

.viewDifferences div.header div.url {
	float: left;
	width: 49%;
}

.treeContainer .control a {
	background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F6F6F6 10%, #D5D5D5 90%);
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #7C7C7C;
    border-radius: 1px 1px 1px 1px;
    color: #434343;
    cursor: pointer;
    padding: 2px 4px;
    margin-right: 10px;
    margin-bottom: 5px;
}

span.badRootline {
	font-weight: bold;
}

.tx_contentstage span.contentstage-state {
	background-image: url(../Icons/state.png);
	float: right;
	background-position: 0 -96px;
}

.tx_contentstage span.contentstage-state-reinitialized {
	background-position: 0 -80px;
}

.tx_contentstage span.contentstage-state-partial {
	background-position: 0 -64px;
}

.tx_contentstage span.contentstage-state-reviewed {
	background-position: 0 -48px;
}

.tx_contentstage span.contentstage-state-pushed {
	background-position: 0 -32px;
}

.tx_contentstage span.contentstage-state-rejected {
	background-position: 0 -16px;
}

.tx_contentstage span.contentstage-state-deprecated {
	background-position: 0 0;
}

.tx_contentstage .submitContainer {
	position: relative;
	display: inline-block;
}

.tx_contentstage .submitContainer input {
	padding-left: 20px;
}

.tx_contentstage span.contentstage-action {
	background-image: url(../Icons/action.png);
}

.tx_contentstage .submitContainer span.contentstage-action {
	position: absolute;
	top: 3px;
	left: 3px;
	cursor: pointer;
}

.tx_contentstage span.contentstage-action-push {
	background-position: 0 0;
}

.tx_contentstage span.contentstage-action-accept {
	background-position: 0 -16px;
}

.tx_contentstage span.contentstage-action-reject {
	background-position: 0 -32px;
}

.tx_contentstage span.contentstage-action-refresh {
	background-position: 0 -48px;
}

.tx_contentstage span.contentstage-action-view {
	background-position: 0 -64px;
}

.tx_contentstage span.contentstage-action-changes {
	background-position: 0 -80px;
}

.tx_contentstage span.contentstage-action-changessub {
	background-position: 0 -96px;
}

.tx_contentstage span.contentstage-action-new {
	background-position: 0 -112px;
}

.tx_contentstage span.contentstage-action-save {
	background-position: 0 -128px;
}

.tx_contentstage input.accept {
	background-image: url(../Icons/accept.png);
}

.tx_contentstage input.reject {
	background-image: url(../Icons/reject.png);
}

.tx_contentstage table.typo3-dblist tr td {
	padding-right: 6px;
}

.tx_contentstage .typo3-dblist .t3-row-header td.state {
	width: 100px;
	text-align: right;
}

.tx_contentstage .typo3-dblist tr.infoRow td,
.tx_contentstage .typo3-dblist tr.changesRow td {
	border: 1px solid #A2AAB8;
}

.tx_contentstage .typo3-dblist tr.changesRow td {
	border-top: none;
}

.tx_contentstage .typo3-dblist tr.infoRow td {
	border-bottom: none;
}

.tx_contentstage .typo3-dblist tr.infoRow td.record {
	border-right: none;
}

.tx_contentstage .typo3-dblist tr.infoRow td.field {
	border-left: none;
}

.tx_contentstage .typo3-dblist tr.infoRow td .t3-icon-document-open {
	cursor: pointer;
}

.tx_contentstage .reviews {
	max-height: 200px;
	overflow-y: auto;
}

.tx_contentstage .reviews table.typo3-dblist {
	width: 100%;
	margin-top: 0;
}

.tx_contentstage .reviews table.typo3-dblist tr.reviewRow {
	cursor: pointer;
}

.tx_contentstage_halfleft,
.tx_contentstage_halfright {
	width: 48%;
	float: left;
	clear: left;
}

.tx_contentstage_halfright {
	float: right;
	clear: right;
}

.tx_contentstage .sliderWrap .sliderClick {
	padding-left: 20px;
	min-height: 20px;
	background: url(../Icons/down.png) 2px 2px no-repeat;
	cursor: pointer;
}

.tx_contentstage .sliderWrap.open .sliderClick {
	background-image: url(../Icons/up.png);
	margin-bottom: 10px;
}

.tx_contentstage .sliderWrap .sliderClick h2 span.t3-icon {
	margin-top: -2px;
	float: none;
}

.tx_contentstage .sliderWrap .sliderContent {
	display: none;
}

table.typo3-dblist tr.db_list_normal.activeReview td {
    background-color: #DEDEDE;
}

/* iLightbox stylesheet */

#ilbOverlay {
    background-color: #000000;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

#ilbCenter {
    position: absolute;
    z-index: 9998;
}

#ilbCenter iframe {
	border: 0;
}

#ilbContent {
	padding: 12px;
	margin: 8px;
	background-color: #ffffff;
}

#ilbClose {
    background: url("../Icons/close.png") no-repeat scroll center center transparent;
    display: block;
    height: 16px;
    outline: medium none;
    width: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 9999;
}

#ilbCenter {
	margin-top: 20px;
}

form.iLightbox .iLightboxContent {
	display: none;
}

form .formRow {
	margin-bottom: 10px;
}

form .formRow textarea {
	width: 200px;
}

#ilbContent .formRow h2 {
	width: 250px;
}
